<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/navStyle.css"/>
  <link rel="stylesheet" href="/homeStyle.css" />
  <title>Movies & Categories</title>
</head>
<body>
  <%- include('navbar') %>
  <%- include('display', {movies: movies}) %>
  <main>
    <ul class="movie-list">
      <% movie_cat.forEach(movie => { %>
        <% if (movie.mname) { %>
          <li class="m-ctn">
            <h2> <%= movie.catname || "Uncategorized" %></h2>
            <div class="movie-card">
                <img src="<%= movie.mimg %>" alt="<%= movie.mname %> poster"/>
                <div class="bottom">
                    <h3><%= movie.mname %></h3>
                    <form action="/<%= movie.movie_id %>/delete" method="POST" style="display:inline;">
                      <button style="border-radius: 10px; background-color: rgb(165, 4, 4);" type="submit" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                    </form>
                </div>
            </div>
          </li>
        <%} %>
      <% }) %>
    </ul>
  </main>
</body>
</html>