<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/navStyle.css"/>
  <link rel="stylesheet" href="/homeStyle.css" />
  <title>Movies & Categories</title>
</head>
<body>
  <%- include('navbar') %>
  <%- include('display') %>
  <main>
    <ul class="movie-list">
      <% movie_cat.forEach(movie => { %>
          <li class="m-ctn">
            <h2> <%= movie.category || "Uncategorized" %></h2>
            <div class="movie-ctn">
              <% movie.movies.forEach(movie => { %>
                <div class="movie-card">
                  <img src="<%= movie.img %>" alt="<%= movie.name %> poster"/>
                  <div class="bottom">
                    <h3><%= movie.name %></h3>
                    <div id="delete-form-<%= movie.movie_id %>" class="hidden"
                     style="
                      padding: 10px;
                      padding-left: 50px;
                      padding-right: 50px;
                      "
                     >
                      <form action="/<%= movie.movie_id %>/delete" method="POST" style="display:inline;">
                        <label>Password:</label>
                        <input type="password" name="password"/><br/>
                        <button style="border-radius: 10px; background-color: rgb(80, 122, 122);" type="submit">
                          Enter
                        </button>
                        <button
                          style="border-radius: 10px; background-color: rgb(80, 122, 122);"
                          type="button"
                          onclick="document.getElementById('delete-form-<%= movie.movie_id %>').classList.toggle('hidden')">
                          close
                        </button>
                      </form>
                    </div>
                    <button
                      style="border-radius: 10px; background-color: rgb(80, 122, 122);"
                      type="button"
                      onclick="document.getElementById('delete-form-<%= movie.movie_id %>').classList.toggle('hidden')">
                      Delete
                    </button>
                  </div>
                </div>
                <% }) %>
            </div>
          </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>